# Web 服务
DEBUG=1
WEB_PORT=2898

# Web 服务数据库连接（Django 读取）
DB_NAME=warehouse_db
DB_USER=postgres
DB_PASS=postgres
DB_HOST=db

# PostgreSQL 服务配置（postgres 镜像读取）
POSTGRES_DB=warehouse_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
